* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("https://images.hdqwalls.com/download/retro-island-8k-yn-3840x2160.jpg");
  background-color: coral;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
}

.aesthetic-windows-xp-modal {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
.aesthetic-windows-xp-modal-content {
  height: 300px;
}
.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

input {
  width: 450px;
  margin-bottom: 20px;
  padding-top: 0%;
  height: 25px;
}

video {
  padding-top: 30px;
  margin-bottom: 0%;
  margin-left: 30%;
}

button {
  height: 60px;
}
